In [88]:
import os
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#print empty data frame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
#print data frame
X=[9,8,7,6]
df=pd.DataFrame(X)
print(df)

   0
0  9
1  8
2  7
3  6

In [8]:
#create a list of lists, NaN by default where value isnt specified
X=[[9,8,7,6],[1,2,3],[4,5]]
df=pd.DataFrame(X)
print(df)

   0  1    2    3
0  9  8  7.0  6.0
1  1  2  3.0  NaN
2  4  5  NaN  NaN

In [16]:
#use a dictionary as input and rename the indices
X={'Name':['ch','As','Ch','Ma'],'Score':[80,81,80,82]}
df=pd.DataFrame(X,index=['rank1','rank2','rank3','rank4'])
print(df)

      Name  Score
rank1   ch     80
rank2   As     81
rank3   Ch     80
rank4   Ma     82

In [24]:
#print Nan for one of the middle values, ideally second 9 shouldnt come in output
X={'a':[1,6],'b':[9],'c':[2,11]}
df=pd.DataFrame(X,index=['row1','row2'])
print(df)

      a  b   c
row1  1  9   2
row2  6  9  11

In [6]:
#ideal way to get this output
X=[{'a':1,'c':2},{'a':6,'b':9,'c':11}]
df1=pd.DataFrame(X,index=['row1','row2'])
print(df1)

      a    b   c
row1  1  NaN   2
row2  6  9.0  11

In [13]:
#define column names too, in this case the dictionary columns and dataframe columns need to be same
X=[{'a':1,'c':2},{'a':6,'b':9,'c':11}]
df1=pd.DataFrame(X,index=['row1','row2'],columns=['a','b','c'])
print(df1)

      a    b   c
row1  1  NaN   2
row2  6  9.0  11

In [21]:
#in case above two column names are diff, then the output is all NaNs
X=[{'a':1,'c':2},{'a':6,'b':9,'c':11}]
df1=pd.DataFrame(X,index=['row1','row2'],columns=['ab','bv','cd'])
print(df1)

      ab  bv  cd
row1 NaN NaN NaN
row2 NaN NaN NaN

In [24]:
#dont define column names in the dictionary, only provide column names in df
X=[{1,2},{6,9,11}]
df2=pd.DataFrame(X,index=['row1','row2'],columns=['a','b','c'])
print(df2)

      a   b    c
row1  1   2  NaN
row2  9  11  6.0

In [20]:
#define as list instead of dictionary
import numpy as np
X=[[1,np.NaN,2],[6,9,11]]
df1=pd.DataFrame(X,index=['row1','row2'],columns=['a','b','c'])
print(df1)

      a    b   c
row1  1  NaN   2
row2  6  9.0  11

In [41]:
#add rows using index
import pandas as pd
d={'one':pd.Series([9,10,11],index=['a','b','c']),
   #'two':pd.Series([2,4,6,8],index=['a','b','c','d'])
  }
df3=pd.DataFrame(d)
print(df3)

   one
a    9
b   10
c   11

In [44]:
#add rows using index
import pandas as pd
d={'one':pd.Series([9,10,11],index=['a','b','c']),
   'two':pd.Series([2,4,6,8],index=['a','b','c','d'])
  }
df3=pd.DataFrame(d)
print(df3)

    one  two
a   9.0    2
b  10.0    4
c  11.0    6
d   NaN    8

In [46]:
#add more rows using index
import pandas as pd
df3['Three']=pd.Series([3,5,7,9],index=['a','b','c','d'])
print(df3)

    one  two  Three
a   9.0    2      3
b  10.0    4      5
c  11.0    6      7
d   NaN    8      9

In [48]:
df3['Four']=pd.Series([12,15,18],index=['a','b','c'])
print(df3)

    one  two  Three  Four
a   9.0    2      3  12.0
b  10.0    4      5  15.0
c  11.0    6      7  18.0
d   NaN    8      9   NaN

In [50]:
#add a column using two existing columns
df3['Five']=df3['one']+df3['Three']
print(df3)

    one  two  Three  Four  Five
a   9.0    2      3  12.0  12.0
b  10.0    4      5  15.0  15.0
c  11.0    6      7  18.0  18.0
d   NaN    8      9   NaN   NaN

In [68]:
#delete a column
#del df3['Four']

In [54]:
print(df3)

    one  two  Three  Five
a   9.0    2      3  12.0
b  10.0    4      5  15.0
c  11.0    6      7  18.0
d   NaN    8      9   NaN

In [70]:
#df321 = pd.Series([3,5,7,9],index=['a','b','c','d'])
#df3['Threeee']=df3.append(df321)
print(df3)

    one  two  Three  Five  Four
a   9.0    2      3  12.0  12.0
b  10.0    4      5  15.0  15.0
c  11.0    6      7  18.0  18.0
d   NaN    8      9   NaN   NaN

In [79]:
df321 = pd.Series([3,5,7,9],index=['one','two','Three','Five'])
df3=df3.append(df321,ignore_index=True)
print(df3)

    one  two  Three  Five  Four    a    b    c    d
0   9.0  2.0    3.0  12.0  12.0  NaN  NaN  NaN  NaN
1  10.0  4.0    5.0  15.0  15.0  NaN  NaN  NaN  NaN
2  11.0  6.0    7.0  18.0  18.0  NaN  NaN  NaN  NaN
3   NaN  8.0    9.0   NaN   NaN  NaN  NaN  NaN  NaN
4   NaN  NaN    NaN   NaN   NaN  3.0  5.0  7.0  9.0
5   3.0  5.0    7.0   9.0   NaN  NaN  NaN  NaN  NaN

In [85]:
del df3['d']

In [86]:
df3

    one  two  Three  Five  Four
0   9.0  2.0    3.0  12.0  12.0
1  10.0  4.0    5.0  15.0  15.0
2  11.0  6.0    7.0  18.0  18.0
3   NaN  8.0    9.0   NaN   NaN
4   NaN  NaN    NaN   NaN   NaN
5   3.0  5.0    7.0   9.0   NaN

In [87]:
print(df3)

    one  two  Three  Five  Four
0   9.0  2.0    3.0  12.0  12.0
1  10.0  4.0    5.0  15.0  15.0
2  11.0  6.0    7.0  18.0  18.0
3   NaN  8.0    9.0   NaN   NaN
4   NaN  NaN    NaN   NaN   NaN
5   3.0  5.0    7.0   9.0   NaN

In [97]:
#split fn
X=[{'A':1.0,'B':5.0,'C':1},{'A':2.0,'B':np.NaN,'C':2},{'A':np.NaN,'B':np.NaN,'C':3}]
da=pd.DataFrame(X)
da['States']="CA NV AZ".split()
da.set_index('States',inplace=True)
da

          A    B  C
States
CA      1.0  5.0  1
NV      2.0  NaN  2
AZ      NaN  NaN  3

In [101]:
#drop all rows with NaN values
print(da.dropna(axis=0))

          A    B  C
States
CA      1.0  5.0  1

In [105]:
#drop all columns
print(da.dropna(axis=1))

        C
States
CA      1
NV      2
AZ      3

In [126]:
#drop all rows with at least 2 non-NaN values
print(da.dropna(axis=0,thresh=2))

          A    B  C
States
CA      1.0  5.0  1
NV      2.0  NaN  2

In [129]:
#drop all rows with at least 1 non-NaN values
print(da.dropna(axis=0,thresh=3))

          A    B  C
States
CA      1.0  5.0  1

In [130]:
#drop all rows except for those with at least 1 non-NaN value
print(da.dropna(axis=0,thresh=1))

          A    B  C
States
CA      1.0  5.0  1
NV      2.0  NaN  2
AZ      NaN  NaN  3

In [131]:
#drop more items than are there in the df, results in empty df
print(da.dropna(axis=0,thresh=4))

Empty DataFrame
Columns: [A, B, C]
Index: []

In [132]:
#fill in null values
print(da.fillna(value="Fill"))

           A     B  C
States
CA         1     5  1
NV         2  Fill  2
AZ      Fill  Fill  3

In [135]:
#fill in null values with the mean of a column
print(da.fillna(value=da['C'].mean()))

          A    B  C
States
CA      1.0  5.0  1
NV      2.0  2.0  2
AZ      2.0  2.0  3

In [136]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [141]:
#group sales by company and find mean sales per company
bycomp=df.groupby('Company')
print(bycomp.mean())

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [142]:
print(bycomp.sum())

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [152]:
#df concatenation
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8,9,10,11])
df_cat1 = pd.concat([df1,df2,df3], axis=0)
print("\nAfter concatenation along row\n",'-'*30, sep='')
print(df_cat1)

After concatenation along row
------------------------------
      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [149]:
df_cat1.fillna(value="0")

     A   B   C   D   A   B   C   D    A    B    C    D
0   A0  B0  C0  D0   0   0   0   0    0    0    0    0
1   A1  B1  C1  D1   0   0   0   0    0    0    0    0
2   A2  B2  C2  D2   0   0   0   0    0    0    0    0
3   A3  B3  C3  D3   0   0   0   0    0    0    0    0
4    0   0   0   0  A4  B4  C4  D4    0    0    0    0
5    0   0   0   0  A5  B5  C5  D5    0    0    0    0
6    0   0   0   0  A6  B6  C6  D6    0    0    0    0
7    0   0   0   0  A7  B7  C7  D7    0    0    0    0
8    0   0   0   0   0   0   0   0   A8   B8   C8   D8
9    0   0   0   0   0   0   0   0   A9   B9   C9   D9
10   0   0   0   0   0   0   0   0  A10  B10  C10  D10
11   0   0   0   0   0   0   0   0  A11  B11  C11  D11

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [3]:
%%writefile test.txt
    I am a data scientist

Writing test.txt

In [35]:
#opening a file
my_file=open('test.txt')

In [36]:
#get the present working directory
pwd()

NameError: name 'pwd' is not defined

In [37]:
#read the file
my_file.read()

''

In [38]:
#reading the file again will fail coz the cursor is at the end of the file
my_file.read()

''

In [42]:
#close the file
my_file.close()

In [46]:
#to reread it, reopen it first
my_file=open('test.txt','a+')

In [47]:
#reread
my_file.read()

''

In [48]:
my_file.seek(7)

7

In [49]:
my_file.write('super ')

6

In [50]:
my_file.read()

''

In [51]:
my_file.close()

In [52]:
my_file=open('test.txt','a+')

In [53]:
my_file.read()

''

In [54]:
%%writefile test1.txt
 I am a super data scientist

Writing test1.txt

In [64]:
myfile1=open('test1.txt','w+')

In [65]:
myfile1.read()

''

In [66]:
myfile1.seek(7)

7

In [67]:
myfile1.write("super ")

6

In [68]:
myfile1.read()

''

In [70]:
myfile1.close()

In [72]:
myfile1=open('test1.txt')

In [73]:
myfile1.read()

'\x00\x00\x00\x00\x00\x00\x00super '